.contenedor-imagen{
    display: flex;
    justify-content: center;
}
.ancla:hover{
    background-color:#0d6efd;
    color: white;
}
.soluciones-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.icono-t{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icono-t i{
    font-size: 1.5rem;
}
.con{
    display: flex;
    justify-content: center;
}
.margin-centro{
    margin: 0 auto;
}
@media(min-width:788px){
    .txt-nor{
        font-size: 2rem;
    }
}
.txt-nor{
    font-size: 1.4rem;
}
/* Detalle tapa */
.contenedor-imagenes-1{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
/* Detalle Bobinado */
.bet{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contenedor-card{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}
.three-card{
    display: flex;
    justify-content: center;
}
.centro{
    display: flex;
    justify-content: center;
}

/* CSS CARD */
.card__ {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__ img {
width: 100%;
height: 100%;
fill: #333;
transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__:hover {
transform: scale(1.05);
box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__:hover .card__content {
transform: rotateX(0deg);
}

.card__title {
margin: 0;
font-size: 24px;
color: #333;
font-weight: 700;
}

.card__:hover img {
scale: 0;
}

.card__description {
margin: 10px 0 0;
font-size: 14px;
color: #777;
line-height: 1.4;
}
